# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Assignment1.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Second Year\GADE\Unity\Assignment1\.idea\.idea.Assignment1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
